@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #ffffff;
}
@import 'blocks/header';