@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

body {
    background: #0B1D26;;
}

.title {
    display: flex;
    align-items: center;
    color: #FBD784;
    .divider {
        width: 72px;
        height: 2px;
        background: #FBD784;
    }
    h1 {
        font-family: 'Poppins';
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin: 0 0 0 32px;
    }
}

.direction {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
    font-weight: 600;
    a {
        margin-right: 16px;
        color: #FBD784;
        &:hover {
            text-decoration: none;
        }
    }
}

.container {
    width: 1462px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/head';
@import 'blocks/sidepanel';
@import 'blocks/slider';
@import 'blocks/content';
@import 'blocks/footer';