@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/animate';

* {
    font-family: 'PlayfairDisplay', 'Poppins';
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #ffffff;
    --main-color: #FBD784;
}

h1, h2, h3, h4, h5, h6, ul {
    margin-bottom: 0;
}

body {
    position: relative;
    background: #0B1D26;;
}

.container {
    width: 1462px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/head';
@import 'blocks/sidepanel';
@import 'blocks/slider';
@import 'blocks/content';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/direction';
@import 'blocks/title';
@import 'blocks/media';