.direction {
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
    font-weight: 600;
    a {
        font-family: 'Poppins';
        margin-right: 16px;
        color: var(--main-color);
    }
    &__text {
        font-family: 'Poppins';
    }
    &__down {
        width: 16px;
        height: 24px;
    }
    &__right {
        height: 16px;
        width: 24px;
    }
}