.footer {
    color: var(--text-color);
    padding-bottom: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 347px 566px;
        justify-content: space-between;
    }
    &__left {
        position: relative;
        display: grid;
        grid-template-rows: 38px 64px 32px;
        row-gap: 24px;
    }
    &__right {
        display: grid;
        grid-template-columns: 193px 161px;
        column-gap: 212px;
    }
    &__more {
        display: grid;
        grid-template-rows: repeat(6, 32px);
        row-gap: 24px;
    }
    &__logo {
        font-family: 'PlayfairDisplay';
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.01em;
    }
    &__descr {
        font-family: 'Poppins';
        font-size: 18px;
        line-height: 32px;
    }
    &__crgt {
        position: absolute;
        bottom: 0;
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 32px;
        opacity: 0.5;
    }
    &__header {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        color: var(--main-color);
    }
    &__link {
        font-family: 'Poppins';
        font-size: 15px;
        line-height: 32px;
        color: var(--text-color);
        transition: all 0.2s;
        &:hover {
            color: var(--main-color);
            text-decoration: none;
        }
    }
}