.header {
    padding: 64px 80px 0 80px;
    display: flex;
    justify-content: space-between;
    &__logo {
        font-family: 'PlayfairDisplay';
        font-size: 32px;
        line-height: 38px;
        width: 108px;
        color: var(--text-color);
    }
    &__navbar {
        font-family: 'Poppins';
        font-size: 18px;
        display: flex;
        align-items: center;
        a {
            color: var(--text-color);
            &:hover {
                text-decoration: none;
            }
            &:nth-child(2) {
                margin: 0 40px;
            }
        }
    }
    &__account {
        display: flex;
        align-items: center;
        cursor: pointer;
        &-text {
            font-family: 'Poppins';
            font-size: 17px;
            line-height: 21px;
            color: var(--text-color);
            margin-left: 8px;
        }
    }
}