@media screen and (max-width: 1850px) {
    .sidepanel {
        position: absolute;
    }
    .slider {
        display: none;
    }
}


@media screen and (max-width: 1600px) {
    .promo {
        &__bg {
            &_content {
                margin-top: 1050px;
            }
        }
    }
    .sidepanel {
        display: none;
    }
    .container {
        max-width: 1140px;
    }
    .content {
        &__wrapper {
            max-width: 690px;
            padding: 141px 114px 140px 0;
        }
        &__photo {
            padding-top: 141px;
        }
        &__num {
            font-size: 180px;
            left: -55px;
        }
        &__item {
            &:nth-child(2) {
                .content {
                    &__wrapper {
                        padding: 141px 0 140px 114px;
                    }
                    &__num {
                        left: 475px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__wrapper {
            padding: 0 80px;
            width: 100%;
        }
        &__bg {
            &_content {
                margin-top: 1000px;
            }
            &_mg {
                margin-top: 430px;
            }
        }
    }
    .head {
        &_fz88 {
            font-size: 77px;
        }
    }
    .title {
        h1 {
            font-size: 16px;
        }
    }
    .content {
        &__wrapper {
            margin: 0 auto;
            padding: 141px 120px 100px 150px;
        }
        &__item {
            flex-direction: column;
            margin: 0 auto;
            &:nth-child(2) {
                .content {
                    &__wrapper {
                        padding: 141px 120px 100px 150px;
                    }
                    &__num{
                        left: 25px;
                    }
                }
            }
        }
        &__num {
            left: 25px;
            top: 825px;
        }
        &__photo {
            width: 626px;
            margin: 0 auto;
            order: -1;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 347px 415px;
        }
        &__right {
            column-gap: 70px;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__bg {
            &_content {
                margin-top: 800px;
            }
            &_mg {
                margin-top: 340px;
            }
            &_vg {
                margin-top: 620px;
            }
        }
    }
    .head {
        &_fz88 {
            font-size: 56px;
        }
        &_fz64 {
            font-size: 53px;
        }
    }
    .direction {
        font-size: 16px;
    }
    .content {
        &__wrapper {
            padding:  100px 30px;
        }
        &__item {
            &:nth-child(2) {
                .content {
                    &__wrapper {
                        padding: 100px 30px;
                    }
                    &__num {
                        left: -25px;
                    }
                }
            }
        }
        margin-top: 500px;
        &__descr {
            font-size: 17px;
        }
        &__num {
            left: -25px;
            top: 830px;
        }
        &__photo {
            width: 660px;
        }
        &__item {
            padding-bottom: 150px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 347px 193px;
        }
        &__right {
            grid-template-columns: 193px;
            
        }
        &__more {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        padding: 40px 30px 0 30px;
        &__navbar {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            padding: 0 30px;
            margin: 60px 0 0 0;
        }
        &__bg {
            &_content {
                margin-top: 600px;
            }
            &_mg {
                margin-top: 255px;
            }
            &_vg {
                margin-top: 465px;
            }
        }
    }

    .title {
        h1 {
            font-size: 14px;
        }
        .divider {
            width: 50px;
        }
    }
    .head {
        line-height: 60px;
        &_fz88 {
            font-size: 49px;
        }
        &_fz64 {
            margin-top: 10px;
        }
    }
    .content {
        margin-top: 300px;
        &__wrapper {
            padding:  50px 30px
        }
        &__item {
            &:nth-child(2) {
                .content {
                    &__wrapper {
                        padding: 50px 30px;
                    }
                    &__num {
                        left: -70px;
                    }
                }
            }
        }
        &__num {
            left: -70px;
            top: 560px;
        }
        &__photo {
            width: 480px;
        }
    }
    .footer {
        padding-bottom: 20px;
        &__wrapper {
            grid-template-columns: 540px;
            row-gap: 100px;
        }
        &__right {
            grid-template-columns: 193px 161px;
            grid-row: 1;
            justify-content: center;
        }
        &__more {
            text-align: center;
            &:nth-child(2) {
                display: grid;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 8px;
    }
    .header {
        padding: 40px 20px 0 20px;
        &__navbar {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            padding: 0 20px;
            margin: 60px 0 0 0;
            width: 100%;
        }
        &__bg {
            &_content {
                margin-top: 330px;
            }
            &_mg {
                margin-top: 140px;
            }
            &_vg {
                margin-top: 255px;
            }
        }
    }

    .title {
        h1 {
            font-size: 12px;
        }
        .divider {
            width: 40px;
        }
    }
    .head {
        line-height: 40px;
        &_fz88 {
            font-size: 47px;
        }
        &_fz64 {
            font-size: 32px;
            margin-top: 15px;
        }
    }
    .direction {
        font-size: 12px;
        a {
            margin-right: 10px;
        }
        img {
            height: 20px;
        }
    }
    .content {
        margin-top: 100px;
        &__descr {
            font-size: 14px;
            margin-top: 15px;
        }
        &__item {
            padding-bottom: 80px;
            &:nth-child(2) {
                .content {
                    &__wrapper {
                        padding: 40px 30px;
                    }
                    &__num {
                        top: 350px;
                    }
                }
            }
        }
        &__num {
            top: 315px;
            font-size: 180px;
        }
        &__photo {
            width: 244px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 360px;
            row-gap: 50px;
        }
        &__right {
            grid-template-columns: 303px;
        }
        &__more {
            row-gap: 10px;
            &:nth-child(2) {
                display: none;
            }
        }
        &__left {
            row-gap: 5px;
        }
        &__header {
            font-size: 18px;
        }
        &__link {
            font-size: 13px;
        }
        &__descr {
            font-size: 15px;
        }
        &__crgt {
            font-size: 14px;
        }
    }
}

