.promo {
    min-height: 200vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    &__wrapper {
        width: 950px;
        height: 310px;
        margin: 191px auto 0 auto;
    }
    .direction {
        a {
            color: var(--text-color);
        }
    }
}