.promo {
    height: 1900px;
    z-index: -1;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    &__wrapper {
        width: 950px;
        height: 310px;
        margin: 191px auto 0 auto;
    }
    .direction {
        &__text {
            margin-right: 16px;
            display: inline-block;
            color: var(--text-color);
        }
    }
}