.sidepanel {
    position: fixed;
    z-index: 1000;
    left: 80px;
    top: 359px;
    width: 24px;
    height: 173px;
    &__text {
        transform: rotate(90deg) translate(39%, 172%);
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: var(--text-color);
        width: 100px;
    }
    &__links {
        position: absolute;
        bottom: 0;
    }
    &__link {
        &:nth-child(2) {
            display: inline-block;
            margin-top: 10px;
        }
    }
}