.sidepanel {
    position: fixed;
    z-index: 1000;
    left: 80px;
    top: 359px;
    width: 24px;
    height: 173px;
    &__text {
        width: 22;
        height: 77px;
        span {
            transform: rotate(90deg) translate(39%, 105%);
            display: block;
            font-weight: 500;
            width: 77px;
            font-size: 18px;
            line-height: 22px;
            color: var(--text-color);
        }
    }
    &__link {
        display: block;
        margin-top: 24px;
    }
}