.slider {
    position: fixed;
    z-index: 1000;
    right: 80px;
    top: 326px;
    width: 77px;
    display: flex;
    &__content {
        width: 42px;
    }
    &__start {
        font-family: 'Poppins';
        font-size: 18px;
        line-height: 22px;
        color: var(--text-color);
        &:hover {
            color: var(--text-color);
            text-decoration: none;
        }
    }
    &__num {
        display: block;
        font-family: "Poppins";
        font-size: 18px;
        line-height: 22px;
        color: var(--text-color);
        text-align: right;
        margin-top: 40px;
        &:hover {
            color: var(--text-color);
            text-decoration: none;
        }
    }

    /* Задокументированные св-ва для будущей реализации ползунка. */
    &__scroll {
        width: 3px;
        height: 240px;
        background-color: #fff;
/*         background-color: rgba(255, 255, 255, 0.5); */ 
        margin-left: 32px;
 /*        &-now {
            height: 60px;
            background-color: rgba(255, 255, 255, 1);
        } */
    }
}