.text {
    &_fz88 {
        font-family: 'PlayfairDisplay';
        font-weight: 600;
        font-size: 88px;
        line-height: 100px;
        color: var(--text-color);
        margin-top: 32px;
    }
}