.title {
    display: flex;
    align-items: center;
    .divider {
        width: 72px;
        height: 2px;
        background: #FBD784;
    }
    &_fz18 {
        font-family: 'Poppins';
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: #FBD784;
        margin: 0 0 0 32px;
    }
}