.title {
    display: flex;
    align-items: center;
    color: var(--main-color);
    .divider {
        width: 72px;
        height: 2px;
        background: var(--main-color);
    }
    h1 {
        font-family: 'Poppins';
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin: 0 0 0 32px;
    }
}